﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="http://localhost/HrmsService/"/>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/extensions")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/extensions")

    <script type="text/javascript">
        BASE_HREF = "http://localhost/HrmsService/";
    </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Human Resource Management System</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    @RenderSection("scripts", required: false)
    

    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                @Html.ActionLink("List Employees", "Index", "Employees")
                @Html.ActionLink("Create Employee", "Create", "Employees")
            </div>
        </section>
        
        <section class="content-wrapper main-content clear-fix">
            @RenderSection("main", required: true)
        </section>
    </div>
</body>
</html>
