﻿@model Hrms.Api.Models.EmployeeParameters

@{
    ViewBag.Title = "Create";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#createEmployee").click(function () {

                $.ajax({
                    url: BASE_HREF + '/api/Employees',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        FirstName: $('#FirstName').val(),
                        LastName: $('#LastName').val(),
                        DateOfBirth: $('#DateOfBirth').val(),
                        Gender: $('#GenderOptions').val()
                    }),
                    success: function (data, status, xhr) {},
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });

            $('#DateOfBirth').datepicker({
                    changeMonth: true,
                    changeYear: true
                }
            );
        });       
    </script>
}

@section main
{
    <h5>Create New Employee</h5> 
    <br/>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(e => e.Id)

        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(e => e.FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(e => e.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(e => e.LastName)
                </td>
                <td>
                    @Html.TextBoxFor(e => e.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(e => e.DateOfBirth)
                </td>
                <td>
                    @Html.EditorFor(e => e.DateOfBirth)
                    @Html.ValidationMessageFor(e => e.DateOfBirth)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(e => e.Gender)
                </td>
                <td>
                    @Html.DropDownList("GenderOptions")
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="createEmployee" type="submit">Save New Employee</button>
                </td>
            </tr>
        </table>

    }
}
