﻿@section scripts
{
    <script type="text/javascript" src="~/Scripts/Hrms/Employees.js"></script>
}

@section main
{
    <h5>Employee Details</h5>

    <br />

    <table id="employeesTable" class="display" width="100%"></table>
}