﻿@{
    ViewBag.Title = "Landing Page";
}

@section main
{  
    <h2>Welcome to HRMS Portal</h2>
    
    <img src="~/Images/landing.jpg" width="800" height="600"
         alt="Human Resource Management System"/>
}